body {
  background-color: blanchedalmond;
}
.box {
  width: 300px;
  border: 5px solid pink;
  padding: 15px;
  box-shadow: 8px 5px 5px rgb(208, 103, 103);
  margin-left: 35em;
}
h1 {
  border: 2px solid pink;
}
img {
  width: 100%;
  height: 220px;
}
span {
  font-weight: bold;
}
.box2 {
  margin-top: 10px;
  border: 2px solid pink;
  padding: 7px;
}
